<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>{% block title_block %} Blog {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}"><img src="/media/blog1.png" width="50px"></a>
      </li>
      {% if user.is_authenticated %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-bs-toggle="dropdown">
            @{{user.username}}
        </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'App_Blog:create_blog' %}">Write</a>

              <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Your Profile</a>
              <hr>
              <a class="dropdown-item" href="{% url 'App_Login:logout' %}">Logout</a>

          </div>

    </div>

      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:sign_up' %}">SignUp</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'App_Login:login' %}">Login</a>
      </li>
      {% endif %}
  </ul>

</nav>

<div class="container" style="padding-top:20px">
    {% block body_block %}

    {% endblock %}
</div>


</body>
</html>