{% extends 'Base.html' %}

{% block title_block %}
{{blog.blog_title}}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-sm-6">
        <h2>{{blog.blog_title}}</h2>
        <i><h3>Posted By: @{{blog.author}}</h3></i>
        <i><h6>Published On: {{blog.publish_date}}</h6></i>
        <i><h6>Updated On: {{blog.update_date}}</h6></i>
    </div>

    <div class="col-sm-6">
        <img src="/media/{{blog.blog_image}}" width="100%">

    </div>
       <p>{{blog.blog_content|linebreaks}}</p>
</div>


{% endblock %}